.page-footer__nav-list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  padding: 8px 9%;
}

.page-footer__nav {
  background-color: $grey;
  width: 31%;
  min-width: 250px;
}

.page-footer__nav-link {
  color: $white;
}

.page-footer__column-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 54%;
}

.page-footer__copyrights,
.page-footer__contacts {
  background-color: $grey;
  height: 75px;
}

.page-footer__wrap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $dark-grey;
  padding: 33px 0;
}

.page-footer__rates-list {
  @include reset-list;

  background-color: $grey;
  height: 180px;
  padding: 10px 5px 7px 24px;
  width: 50%;
  min-width: 250px;
  margin-right: 30px;
}

.page-footer__rate-link {
  color: $white;
  position: relative;
}

.page-footer__rate-item {
  margin-left: 10px;
}

.page-footer__rate-link::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: $white;
  top: 5px;
  left: -11px;
}

.page-footer {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1420px;
  width: 100%;
}

.page-footer__mobile-wrap {
  display: flex;
  width: 66%;
}

.page-footer__nav-link:hover,
.page-footer__nav-link:focus,
.page-footer__rate-link:hover,
.page-footer__rate-link:focus {
  color: $orange;
}

.page-footer__rate-link:hover::before,
.page-footer__rate-link:focus::before {
  background-color: $orange;
}

.page-footer__nav-link:active,
.page-footer__rate-link:active {
  opacity: 0.7;
}

@media (max-width: $mobile-width) {
  .page-footer__wrap {
    flex-direction: column;
  }

  .page-footer__nav {
    width: 100%;
    margin-bottom: 20px;
  }

  .page-footer__nav-list {
    align-items: center;
  }

  .page-footer__mobile-wrap {
    width: 100%;
    flex-direction: column;
  }

  .page-footer__rates-list {
    min-width: auto;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .page-footer__column-wrap {
    width: 100%;
  }

  .page-footer__copyrights {
    margin-bottom: 20px;
  }
}
